<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">

			<div class = "form-group row ">
				<label for = "curveId" class = "col-sm-2 col-form-label">Curve ID</label>
				<div class = "col-sm-4">
					<input th:field="*{curveId}" id = "curveId" type = "text" class = "form-control" placeholder = "Mandatory">
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "term" class = "col-sm-2 col-form-label">Term</label>
				<div class = "col-sm-4">
					<input th:field="*{term}" id = "term" type = "text" class = "form-control" placeholder = "Mandatory">
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "value" class = "col-sm-2 col-form-label">Value</label>
				<div class = "col-sm-4">
					<input th:field="*{value}" id = "value" type = "text" class = "form-control" placeholder = "Mandatory">
				</div>
			</div>
			<div class = "form-group row">
				<div class = "col-sm-5">
					<button type = "submit" class = "btn btn-primary">Save data</button>
				</div>
				<div class = "col-sm-5">
					<button type = "reset" class = "btn btn-danger">Cancel</button>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>