<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/update/{id}(id=${rating.id})}" th:object="${rating}" method="post" class="form-horizontal" style="width: 100%">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
				<ol>
					<li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
				</ol>
			</div>
			<div class = "form-group row ">
				<label for = "moodysrating" class = "col-sm-2 col-form-label">Moodys Rating</label>
				<div class = "col-sm-4">
					<input th:field="*{moodysRating}" id = "moodysrating" type = "text" class = "form-control" placeholder = "Mandatory">
					<p class="text-danger" th:if="${#fields.hasErrors('moodysRating')}" th:errors="*{moodysRating}"></p>
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "sandprating" class = "col-sm-2 col-form-label">Sand P Rating</label>
				<div class = "col-sm-4">
					<input th:field="*{sandPRating}" id = "sandprating" type = "text" class = "form-control" placeholder = "Mandatory">
					<p class="text-danger" th:if="${#fields.hasErrors('sandPRating')}" th:errors="*{sandPRating}"></p>
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "fitchrating" class = "col-sm-2 col-form-label">Fitch Rating</label>
				<div class = "col-sm-4">
					<input th:field="*{fitchRating}" id = "fitchrating" type = "text" class = "form-control" placeholder = "Mandatory">
					<p class="text-danger" th:if="${#fields.hasErrors('fitchRating')}" th:errors="*{fitchRating}"></p>
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "ordernumber" class = "col-sm-2 col-form-label">Order Number</label>
				<div class = "col-sm-4">
					<input th:field="*{orderNumber}" id = "ordernumber" type = "number" step="1" class = "form-control" placeholder = "Mandatory" required>
					<p class="text-danger" th:if="${#fields.hasErrors('orderNumber')}" th:errors="*{orderNumber}"></p>
				</div>
			</div>
			<div class = "form-group row">
				<div class = "col-sm-5">
					<button type = "submit" class = "btn btn-primary">Update data</button>
				</div>
				<div class = "col-sm-5">
					<a class="btn btn-danger" href="/rating/list">Cancel</a>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>