<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/validate}" th:object="${bid}" method="post" accept-charset="utf-8" class="form-horizontal" style="width: 100%">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
				<ol>
					<li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
				</ol>
			</div>
			<div class = "form-group row ">
				<label for = "account" class = "col-sm-2 col-form-label">Account</label>
				<div class = "col-sm-4">
					<input th:field="*{account}" id = "account" type = "text" class = "form-control" placeholder = "Mandatory">
					<p class="text-danger" th:if="${#fields.hasErrors('account')}" th:errors="*{account}"></p>
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "type" class = "col-sm-2 col-form-label">Type</label>
				<div class = "col-sm-4">
					<input th:field="*{type}" id = "type" type = "text" class = "form-control" placeholder = "Optional">
					<p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "bidquantity" class = "col-sm-2 col-form-label">Bid Quantity</label>
				<div class = "col-sm-4">
					<input th:field="*{bidQuantity}" id = "bidquantity" type = "number" step="1" list="defaultNumbers" class = "form-control" placeholder = "Mandatory"><!--pattern="[0-9]+"-->
					<datalist id="defaultNumbers">
						<option value="1">
						<option value="10">
						<option value="100">
						<option value="1000">
						<option value="10000">
					</datalist>
					<p class="text-danger" th:if="${#fields.hasErrors('bidQuantity')}" th:errors="*{bidQuantity}"></p>
				</div>
			</div>
			<div class = "form-group row">
				<div class = "col-sm-5">
					<button type = "submit" class = "btn btn-primary">Save data</button>
				</div>
				<div class = "col-sm-5">
					<button type = "reset" class = "btn btn-danger">Cancel</button>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>

<!--https://developer.mozilla.org/fr/docs/Web/HTML/Element/Input/number-->