<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bidList/update/{id}(id=${bid.id})}" th:object="${bid}" method="post" class="form-horizontal" style="width: 100%">
			<div class = "form-group row ">
				<label for = "account" class = "col-sm-2 col-form-label">Account</label>
				<div class = "col-sm-4">
					<input th:field="*{account}" id = "account" type = "text" class = "form-control" placeholder = "Mandatory">
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "type" class = "col-sm-2 col-form-label">Type</label>
				<div class = "col-sm-4">
					<input th:field="*{type}" id = "type" type = "text" class = "form-control" placeholder = "Mandatory">
				</div>
			</div>
			<div class = "form-group row ">
				<label for = "bidquantity" class = "col-sm-2 col-form-label">Bid Quantity</label>
				<div class = "col-sm-4">
					<input th:field="*{bidQuantity}" id = "bidquantity" type = "text" class = "form-control" placeholder = "Mandatory">
				</div>
			</div>
			<div class = "form-group row">
				<div class = "col-sm-5">
					<button type = "submit" class = "btn btn-primary">Update</button>
				</div>
				<div class = "col-sm-5">
					<button type = "reset" class = "btn btn-danger">Cancel</button>
				</div>
			</div>
		</form>
	</div>

</div>
</body>
</html>