<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="../../css/bootstrap.min.css" >
	<link rel="stylesheet"
		  href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		  integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
		  crossorigin="anonymous">
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bidList/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a>
		</div>
		<div class="col-6 text-right">
			Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
			<form th:action="@{/app-logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Trade List</h2></div>
	<div class="row">
		<a href="/trade/add" class="btn btn-primary btn-sm">Add New</a>
		<h3 th:if="${#lists.isEmpty(trades)}">No Trade yet!</h3>
		<table th:unless="${#lists.isEmpty(trades)}" class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Account</th>
					<th>Type</th>
					<th>Buy Quantity</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tradeItem : ${trades}">
					<td th:text="${tradeItem.getId()}"></td>
					<td th:text="${tradeItem.getAccount()}"></td>
					<td th:text="${tradeItem.getType()}"></td>
					<td th:text="${tradeItem.getBuyQuantity()}"></td>
					<td>
						<a th:href="@{/trade/update/{id}(id=${tradeItem.getId()})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
						<a th:href="@{/trade/delete/{id}(id=${tradeItem.getId()})}" class="btn btn-primary"><i class="fas fa-user-times ml-2"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>